<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Group Project</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="main.css" type="text/css" rel="stylesheet"/>
    <!-- scripts for navbar/menu-->
    <script type="text/javascript" src="klassenlijst.js"></script>
    <script type="text/javascript" src="hamburger.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


</head>

<!-- Nav bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-left" href="/"><img src="{{url_for('static', filename='logo.png')}}" style="width:50px;height:50px;"></a>
            </li>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/"> Home </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/rating"> Rating </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/reviews"> Reviews </a>
            </li>
                       <li class="nav-link">
                <a class="nav-link" href="/login"> Login </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/registration"> Register </a>
            </li>
            <li class="nav-link dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Browse By Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">action</a>
                    <a class="dropdown-item" href="#">adventure</a>
                    <a class="dropdown-item" href="#">rpg</a>
                    <a class="dropdown-item" href="#">simulation</a>
                    <a class="dropdown-item" href="#">strategy</a>
                    <a class="dropdown-item" href="#">mmo</a>
                </div>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/search">Browse By Game</a>
            </li>
        </ul>
        <div>

        </div>
    </div>
    <!-- log in button in navbar-->
    <!--</div>
    <a class="button" href="/login" role="button">Login</a>
    <div>-->
        <!-- alligns right-->
    <!--   <ul class="nav navbar-nav navbar-right">
           <li class="nav-item">
               <a class="nav-link" href="/profile">View Profile</a>
           </li>
       </ul>
   </div>-->

</nav>

<style>

.button {
background-color: white;
 color: black;
 border: 2px solid #000000; /* black */
 transition-duration: 0.4s;
}

.button:hover {
 background-color: #000000; /* black */
 color: white;
}
body {
 background-image:url("https://media.discordapp.net/attachments/821108170793549847/847318969828114483/Untitled-f1.png?width=1202&height=676");
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
   font-family: "Comic Sans MS";
}
head {
   font-family: "Comic Sans MS";
   }
</style>

{% block pagecontent %}
{% endblock %}


</html>