{% extends "base.html" %}
{% block pagecontent %}
<!--POST form where the user will enter a game title to search -->
<head>
<style>
  h1 {
  text-align: center;
  margin-top: 100px;
  color: white;
  font-size: 5px
  font-family:tahoma;
  }

.content {
  max-width: 1000px;
  margin: auto;
  vertical-align: middle;

}

</style>
</head>

<body>

<div class="content">
<h1> please enter a game title to search through results and generate a random game!</h1>

<form id="gamesearch" action= "#" method="POST" >
    <input style = "margin-top: 50px" name="search" id="search" type = "text">
    <button style = "margin-top: 50px">Go!</button>
</form>

{{displayMessage}} </br>
{{displaylinks | safe }}

</div>

</body>

{% endblock %}
