<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dylan Bubble Sort Mini-Lab</title>
</head>
<body>

<form action="#" method="post" class="ff">
    <div class="form-group">
        <select name="type" id="type" class="form-control">
            <option value="num">Number</option>
            <option value="alph">Alphabet</option>
        </select>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </div>
</form>
<p>Sorted List:</p>
<p>{{final}}</p>
</body>
</html>