<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block pagecontent %}
<head>
    <meta charset="UTF-8">
    <title>Kira</title>
</head>
<body>
<div class="container bob">
    <ul>
        <h1 style="padding-top:5%; padding-bottom:5%; text-align: center;"><b>Kira's Page</b></h1>
        <li class="jeffrey">
            <a href="/kira/classes">Classes Minilab</a>
        </li>
        <li class="jeffrey">
            <a href="/kira/bubble">Bubble Sort</a>
        </li>

        <iframe src="https://docs.google.com/document/d/14X-UkrCCywpP5z2PfRYVF26gnOnD06uG2Z5CFieigTU/edit?usp=sharing" style="width: 1000px; height: 700px; text-align: center;" frameborder="0"  ></iframe>
    </ul>
</div>

</body>
<style>
    .bob{
        background-color: white;
        padding: 2%;
        margins: 2%;
    }
    .jeffrey{}
</style>

{% endblock %}
</html>